/* font-family "Playfair Display"
font-family "Gilroy" */;

* {
box-sizing: border-box;
}

body {
    font-family: "Gilroy";
    background-color: #0B1D26; 
    margin: 0;
    background-image: url("./../img/bg/bg.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.container-wide{
    width: 1790px;
    padding: 0 15px;
}

.row {
    display: flex;
   justify-content: space-between;
}