@font-face {
	font-family: 'Playfair Display';
	src: url('PlayfairDisplay-SemiBold.woff2') format('woff2') url('PlayfairDisplay-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('PlayfairDisplay-Bold.woff2') format('woff2') url('PlayfairDisplay-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}